.main-container {
  min-height: 570px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/beer-showcase.jpeg") no-repeat 50% 16%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/beer-showcase.jpeg") no-repeat 50% 16%;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border-bottom: 3px red solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.main-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.main-container div form {
  width: 810px;
  height: 70px;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px, 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container div form input {
  margin: 7px;
  font-size: 16px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  border: 1px grey solid;
  padding-right: 0;
  width: 24.2%;
}

.main-container div form select {
  margin: 7px;
  font-size: 16px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.main-container div form select:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.main-container div form button {
  margin: 7px;
  font-size: 20px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: red;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-right: 10px;
  font-size: 16px;
  border: none;
}

.main-container div form button:active {
  background-color: white;
}

.main-container div form button:hover {
  cursor: pointer;
}

.main-container .black-screen {
  background-color: #000;
}

.main-container #showcase-container {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

.main-container #showcase-container #title-container {
  display: block;
  padding: 0;
}

.main-container #showcase-container #title-container h1 {
  text-shadow: 3px 3px 3px #000;
  margin: 0;
  color: #fff;
  font-size: 4rem;
  font-style: italic;
  padding-bottom: 0;
  padding-left: 5px;
}

.main-container #showcase-container #title-container p {
  text-shadow: 3px 3px 3px #000;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  padding-top: 0;
}

.main-container #form-container form {
  height: 5rem;
}

.selectMenu__control {
  height: 50px;
}

/* Tablet View */
@media screen and (max-width: 810px) {
  .main-container {
    overflow-y: scroll;
  }
  .main-container #title-container h1 {
    font-size: 3em !important;
  }
  .main-container #title-container p {
    font-size: 1em !important;
  }
  .main-container div form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 12rem !important;
  }
  .main-container div form input {
    width: 70%;
  }
  .main-container div form button {
    width: 72%;
  }
  .main-container div form select {
    width: 72%;
  }
}

/* Phone View */
@media screen and (max-width: 620px) {
  .main-container {
    overflow-y: scroll;
  }
  .main-container #title-container h1 {
    font-size: 1.55em !important;
  }
  .main-container #title-container p {
    font-size: 0.8rem !important;
  }
  .main-container div form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container div form input {
    width: 65%;
  }
  .main-container div form button {
    width: 68%;
  }
  .main-container div form select {
    width: 68%;
  }
}
/*# sourceMappingURL=Main.css.map */