.main-container {
  min-height: 570px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/beer-showcase.jpeg") no-repeat 50% 16%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/beer-showcase.jpeg") no-repeat 50% 16%;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  overflow-y: scroll;
}

.main-container h1 {
  margin: 0;
  padding: 10px;
  padding-top: 2em;
  color: #fff;
  font-size: 4em;
  font-style: italic;
  padding-bottom: 0;
  padding-left: 5px;
}

.main-container p {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2em;
  font-size: 20px;
  padding: 10px;
  padding-top: 0;
}

.main-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.main-container div form {
  width: 810px;
  height: 70px;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px, 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container div form input {
  margin: 7px;
  font-size: 16px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  border: 1px grey solid;
  padding-right: 0;
  width: 24.2%;
}

.main-container div form select {
  margin: 7px;
  font-size: 16px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.main-container div form select:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.main-container div form button {
  margin: 7px;
  font-size: 20px;
  width: 25%;
  border-radius: 6px;
  outline: none;
  padding: 10px 50px 10px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ffd49b;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.main-container div form button:active:active {
  background-color: red;
}

.main-container div form button:hover {
  cursor: pointer;
}

.main-container .black-screen {
  background-color: #000;
}

/* Tablet View */
@media screen and (max-width: 810px) {
  .main-container h1 {
    font-size: 3em;
  }
  .main-container div form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container div form input {
    width: 70.4%;
  }
  .main-container div form button {
    width: 72%;
  }
  .main-container div form select {
    width: 72%;
  }
}
/*# sourceMappingURL=Main.css.map */