@mixin colors($color) {
    color: $color;
    &:active {
        color: #fff;
    }
}

#backdrop-container {
    background-color: #222222;
    font-family: 'Roboto', Helvetica, sans-serif;
    #description-container {
        width: 60%;
        margin: auto;
        #paragraph-container {
            padding: 4px 0;
            p, blockquote {
                text-align: center;
                line-height: 1.5;
                margin: 0;
                color: #fff;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
            }
            a {
                text-decoration: none;
            }
        }
        h1 {
            color: #fff;
            margin: 0;
            padding-top: 24px;
            text-align: center;
            font-style: italic;
        }
    }
    #tech-showcase-container {
        .main-tech-showcase {
            text-align: center;
            color: #fff;
            ul {
                width: 100px;
            }
            h1 {
                font-style: italic;
                font-weight: bold;
                margin: 0;
            }
            #thank-you {
                font-size: 40px;
                color: red;
                padding: 10px 0 22px 0;
            }
            .icon-list-container {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 20px;
                padding-bottom: 10px;
                .icon-container {
                    p {
                        padding: 0;
                        margin: 0;
                        font-weight: bold;
                    }
                    a {
                        font-size: 6rem;
                        padding: 12px;
                    }
                    #html5 {
                        @include colors(red);
                    }
                    #react {
                        @include colors(skyblue);
                    }
                    #javascript {
                        @include colors(#F0DB4F);
                    }
                    #css3 {
                        @include colors(#264de4);
                    }
                    #sass {
                        @include colors(#cd6799);
                    }
                    #git {
                        @include colors(#f1502f);
                    }
                }
            }
        }
    }
}