header {
    background-color: #000;
    .header-container {
        min-height: 6vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        border-bottom: 3px red solid;
        font-family: 'Roboto', Helvetica, sans-serif;
        /* Heading */
        h1 {
            margin-top: 20px;
            padding: 4px 30px;
            color: #fff;
            // text-transform: uppercase;
            font-size: 22px;
            font-style: italic;
        }
        /* List items ("links") */
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                margin: 0 10px;
                padding-top: 0px;
                font-size: 18px;
                padding-bottom: 4px;
                &:hover {
                    color: red;
                    border-bottom: 2px red solid;
                }
            }
        }
        /* Navigation Bar */
        nav {
            margin-top: 10px;
            padding: 0 30px;
        }
        /* Burger Menu */
        .burger {
            margin: 16px 14px;
            padding-top: 1px;
            display: none;
            cursor: pointer;
            div {
                width: 30px;
                height: 5px;
                background-color: red;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }   
    }
}

/* Show hamburger screen */
@media screen and (max-width: 791px) {
    .header-container {
        overflow: hidden;
        overflow-x: hidden;
        /* Show nav bar after burger menu press */
        .nav {
            position: absolute;
            right: 0px;
            height: 94vh;
            top: 6.5vh;
            width: 50%;
            background-color: #000;
            z-index: 1000;
            padding: 0 !important;
            margin: 0 !important;
            /* Move off screen until burger press */
            transform: translateX(100%); 
            /* Transitions the transform so the menu doesnt just pop up */
            transition: transform 0.5s ease-in; 
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 3rem;
                margin: 0;
                a {
                    font-size: 2rem;
                    padding: 20px 0 12px 0;
                    border-bottom: 2px red solid;
                    /* Allow for fading in menu items once pressed burger */
                    opacity: 0; 
                }
            }
        }
        .burger {
            display: block !important;
        }
    }
}

.navigation-active {
    transform: translateX(0%) !important;
    // translate: transform 0.5s ease-in;
}

@keyframes linkAnimation {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-8px, -6px);
    }
}