header {
    background-color: rgb(37, 40, 44);
    border-bottom: 3px red solid;
    .header-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
        
        /* Heading */
        h1 {
            margin-top: 25px;
            padding: 10px 30px;
            color: #fff;
        }
        /* List items ("links") */
        .link {
            list-style: none;
            display: inline;
            padding: 0 20px;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                &:hover {
                    color: red;
                }
            }
        }
        /* Navigation Bar */
        nav {
            margin-top: 17px;
            padding: 10px 30px;
        }
    }
}

@media screen and (max-width: 791px) {
    .header-container {
        display: block !important;
        overflow: hidden;
        text-align: center;
        nav {
            display: none;
        }
    }
}