@mixin flex() {
    display: flex;
    justify-content: center;
}

@mixin form($fontSize) {
    margin: 10px;
    font-size: $fontSize;
    width: 25%;
    border-radius: 6px;
    outline: none;
}

.main-container {
    height: 550px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/beer-showcase.jpeg') no-repeat 50% 16%;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    h1 {
        margin: 0;
        padding: 10px;
        padding-top: 2em;
        color: #fff;
        font-size: 4em;
        font-style: italic;
        padding-bottom: 0;
        padding-left: 5px;
    }
    p {
        color: #fff;
        font-weight: bold;
        margin-bottom: 2em;
        font-size: 20px;
        padding: 10px;
        padding-top: 0;
    }
    div {
        @include flex();
        padding-top: 70px;
        form {
            width: 810px;
            height: 70px;
            background-color: transparent;
            border-radius: 10px;
            padding: 20px, 0;
            @include flex();
            input {
                @include form(16px);
                border: 1px grey solid;
                padding-left: 10px;
            }
            select {
                @include form(16px);
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                -ms-appearance: none;
                appearance: none;
                padding: 10px 50px 10px 10px;
                &:hover {
                    cursor: grab;
                }
            }
            button {
                @include form(16px);
                appearance: none;
                border: 1px grey solid;
                background-color: rgb(255, 212, 155);
                &:active:active {
                    background-color: red;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .black-screen {
        background-color: #000;
    }
}

@media screen and (max-width: 790px) {

}