$tablet-width : 72%;
$phone-width : 68%;

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin form($fontSize) {
    margin: 7px;
    font-size: $fontSize;
    width: 25%;
    border-radius: 6px;
    outline: none;
    padding: 10px 50px 10px 10px;
}

.main-container {
    min-height: 570px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/beer-showcase.jpeg') no-repeat 50% 16%;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    border-bottom: 3px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
        @include flex();
        padding-top: 70px;
        form {
            width: 810px;
            height: 70px;
            background-color: transparent;
            border-radius: 10px;
            padding: 20px, 0;
            @include flex();
            input {
                @include form(16px);
                border: 1px grey solid;
                padding-right: 0;
                width: 24.2%
            }
            select {
                @include form(16px);
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                -ms-appearance: none;
                appearance: none;
                &:hover {
                    cursor: grab;
                }
            }
            button {
                @include form(20px);
                appearance: none;
                color: #fff;
                background-color: red;
                padding-top: 11px;
                padding-bottom: 12px;
                padding-right: 10px;
                font-size: 16px;
                border: none;
                &:active {
                    background-color: white;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .black-screen {
        background-color: #000;
    }
    #showcase-container {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 80px 0;
        #title-container {
            display: block;
            padding: 0;
            h1 {
                text-shadow: 3px 3px 3px #000;
                margin: 0;
                color: #fff;
                font-size: 4rem;
                font-style: italic;
                padding-bottom: 0;
                padding-left: 5px;
            }
            p {
                text-shadow: 3px 3px 3px #000;
                color: #fff;
                font-weight: bold;
                font-size: 1.2em;
                padding: 10px;
                padding-top: 0;
            }
        }
    }
    #form-container {
        form {
            height: 5rem;
        }
    }
}

.selectMenu__control {
    height: 50px;
}

/* Tablet View */
@media screen and (max-width: 810px) {
    .main-container {
        overflow-y: scroll;
        #title-container {
            h1 {
                font-size: 3em !important;
            }
            p {
                font-size: 1em !important;
            }
        }
        div {
            form {
                flex-direction: column;
                height: 12rem !important;
                input {
                    width: 70%;
                }
                button {
                    width: $tablet-width;
                }
                select {
                    width: $tablet-width;
                }
            }
        }
    }
}

/* Phone View */
@media screen and (max-width: 620px) {
    .main-container {
        overflow-y: scroll;
        #title-container {
            h1 {
                font-size: 1.55em !important;
            }
            p {
                font-size: 0.8rem !important;
            }
        }
        div {
            form {
                flex-direction: column;
                input {
                    width: 65%;
                }
                button {
                    width: $phone-width;
                }
                select {
                    width: $phone-width;
                }
            }
        }
    }
}